<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мимиметр</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div th:each="cat:${cats}" class="card" style="width: 18rem; margin: 30px">
            <div class="row">
                <div class="col-lg-12">
                    <img class="card-img-top" th:src="${cat.imageUrl}" style="width: 100%;">
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <h4 th:text="${cat.name}">Имя</h4>
                    </div>
                    <div class="col-lg-12">
                        <a class="btn btn-primary" th:href="@{/edit-cat/{id}(id=${cat.id})}">Изменить</a>
                        <a class="btn btn-danger" th:href="@{/reset/{id}(id=${cat.id})}">Восстановить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>