<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мимиметр</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row" style="justify-content: center">
        <div class="col-12 mb-3" style="text-align: center">
            <h3>Топ - 10 по версии пользователей!</h3>
        </div>
        <div th:each="cat : ${top}" class="card col-12" style="width: 18rem; margin: 30px">
            <div class="row">
                <div class="col-lg-12">
                    <img class="card-img-top" th:src="${cat.imageUrl}" style="width: 100%;">
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <h4 th:text="${cat.name}"></h4>
                    </div>
                    <div class="col-lg-12" style="display: flex; flex-direction: column;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>